.rwt__tabs[data-rwt-vertical="true"] {
  display: flex;
}

.rwt__tablist:not([aria-orientation="vertical"]) {
	border-bottom: 1px solid #ddd;
}

.rwt__tablist[aria-orientation="vertical"] {
  display: flex;
  height: 83vh;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  border-right: 1px solid #ddd;
  background-color: #8d819800;
  /* color: white; */
  /* border-radius: 5px; */
}

.rwt__tab {
	background: white;
	border: 0;
	border-radius: 5px 0px 0px 5px;
	/* 	padding: 2rem !important; */
	/* 	margin-bottom: 0.1rem; */
	margin-top: 0.2rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	margin-bottom: 2rem;
	/* 	margin: 0.1rem; */
	font-family: inherit;
	font-size: inherit;
	text-align: left;
	padding: 1rem 2rem;
	transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.rwt__tab[aria-selected="false"]:hover,
.rwt__tab:focus {
  outline: 0;
  background-color: #946c6c;
  background-color: rgba(33, 33, 33, 0.29);
}

.rwt__tab[aria-selected="true"] {
	position: relative;
}

.rwt__tab[aria-selected="true"]:after {
	content: '';
	position: absolute;
}

.rwt__tablist:not([aria-orientation="vertical"]) .rwt__tab[aria-selected="true"]:after {
  bottom: -1px;
	left: 0;
	width: 100%;
	border-bottom: 3px solid #00d8ff;
}

.rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
  right: -1px;
  top: 0;
  height: 100%;
  border-right: 3px solid #00d8ff;
}
